.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 40px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-family: Damion;
  font-weight: 400;
  font-size: 3rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 645px;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 30px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 42.91%;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: Lora;
  font-size: 1.25rem;
  letter-spacing: normal;
  margin: 30px -550px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: -454px;
    margin-right: -454px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: -348px;
    margin-right: -348px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: -261px;
    margin-right: -261px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-gallery-1 {
    height: 431px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 0.2346px;
    margin: 52px 33px 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 772px;
}

.u-section-3 .u-gallery-1 {
  width: 861px;
  height: 541px;
  grid-gap: 10px 10px;
  margin: 45px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 77.92%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 0% 0%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 63.72%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 51.11%;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 55.77%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 48.53% 50%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 8px;
  width: 44px;
  height: 44px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: auto;
  right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.4375rem;
  font-family: Alata;
  font-weight: 700;
  letter-spacing: 1px;
  width: 610px;
  margin: 45px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    height: 497px;
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto auto auto auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -92px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 242px;
}

.u-section-4 .u-text-1 {
  font-size: 3.25rem;
  width: 680px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Lora;
  font-weight: 700;
  line-height: 25.6px;
  width: 786px;
  margin: 32px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}